In [ ]:
#Insert here the module/library import statements

In [32]:
import random

In [ ]:
#1. Calculate the square number of the first 20 numbers. Use square as the name of the list.
# Remember to use list comprehensions and to print your results

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

squared = [number ** 2 for number in numbers]

print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#2. Calculate the first 50 powers of two. Use power_of_two as the name of the list.
# Remember to use list comprehensions and to print your results

In [21]:
n = 2
power = 50
power_of_two = [n<<power for power in range(50)]
power_of_two

[2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288,
 1048576,
 2097152,
 4194304,
 8388608,
 16777216,
 33554432,
 67108864,
 134217728,
 268435456,
 536870912,
 1073741824,
 2147483648,
 4294967296,
 8589934592,
 17179869184,
 34359738368,
 68719476736,
 137438953472,
 274877906944,
 549755813888,
 1099511627776,
 2199023255552,
 4398046511104,
 8796093022208,
 17592186044416,
 35184372088832,
 70368744177664,
 140737488355328,
 281474976710656,
 562949953421312,
 1125899906842624]

In [ ]:
#3. Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
# You will probably need to install math library with pip and import it in this file.  
# Remember to use list comprehensions and to print your results

In [ ]:
sqrt =

In [ ]:
#4. Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
# Remember to use list comprehensions and to print your results

In [27]:
my_list = [n for n in range(-1,-10)]
my_list

TypeError: 'list' object is not callable

In [ ]:
#5. Find the odd numbers from 1-100. Use odds as the name of the list. 
# Remember to use list comprehensions and to print your results

In [20]:

odds = [odd for odd in range(1,100) if odd % 2 == 1]
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
#6. Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
# Remember to use list comprehensions and to print your results

In [19]:
divisible_by_seven = [n for n in range(1,1000) if n % 7 == 0]
divisible_by_seven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [ ]:
#7. Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
# Remember to use list comprehensions and to print your results
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [24]:
teststring = 'Find all of the words in a string that are monosyllabic'
consonants = "bcdfghjklmnpqrstvwxyz"
non_vowels = [i for i in teststring if i in consonants]
non_vowels

['n',
 'd',
 'l',
 'l',
 'f',
 't',
 'h',
 'w',
 'r',
 'd',
 's',
 'n',
 's',
 't',
 'r',
 'n',
 'g',
 't',
 'h',
 't',
 'r',
 'm',
 'n',
 's',
 'y',
 'l',
 'l',
 'b',
 'c']

In [ ]:
#8. Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
# Use capital_letters as the name of the list.  
# Remember to use list comprehensions and to print your results

In [52]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
vowels = "aeiou"
capital_letter = [w for w in sentence if w.isupper()]
capital_letter

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [ ]:
#9. Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
# Use consonants as the name of the list.
# Remember to use list comprehensions and to print your results.

In [54]:
sentence = 'The quick brown fox jumped over the lazy dog'
consonants = "bcdfghjklmnpqrstvwxyz"
non_vowels = [w for w in sentence if w in consonants]
non_vowels

['h',
 'q',
 'c',
 'k',
 'b',
 'r',
 'w',
 'n',
 'f',
 'x',
 'j',
 'm',
 'p',
 'd',
 'v',
 'r',
 't',
 'h',
 'l',
 'z',
 'y',
 'd',
 'g']

In [55]:
#10. Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  
# You will probably need to import os library and some of its modules. You will need to make some online research.
# Remember to use list comprehensions and to print your results.

In [ ]:
#11. Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
#You will probably need to import random module
# Remember to use list comprehensions and to print your results

In [39]:
random_lists = [random.sample(range(0, 100), 10)] *4
random_lists

[[96, 76, 45, 33, 57, 31, 75, 15, 9, 28],
 [96, 76, 45, 33, 57, 31, 75, 15, 9, 28],
 [96, 76, 45, 33, 57, 31, 75, 15, 9, 28],
 [96, 76, 45, 33, 57, 31, 75, 15, 9, 28]]

In [35]:
#12. Flatten the following list of lists. Use flatten_list as the name of the output.
# Remember to use list comprehensions and to print your results

list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [29]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
flaten_list = sum(list_of_lists, [])
flaten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#13. Convert the numbers of the following nested list to floats. Use floats as the name of the list. 
# Remember to use list comprehensions and to print your results.

list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [58]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

floats = [[float(y) for y in x] for x in list_of_lists]
floats

[[40.0, 20.0, 10.0, 30.0],
 [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0],
 [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0],
 [100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0, 100.0],
 [100.0, 100.0, 100.0, 100.0]]

In [ ]:
#14. Handle the exception thrown by the code below by using try and except blocks. 


for i in ['a','b','c']:
    print i**2

In [43]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i**2)? (<ipython-input-43-581705ad8f61>, line 2)

In [ ]:
#15. Handle the exception thrown by the code below by using try and except blocks. 
#Then use a finally block to print 'All Done.'
# Check in provided resources the type of error you may use. 

x = 5
y = 0

z = x/y

In [ ]:
#16. Handle the exception thrown by the code below by using try and except blocks. 
# Check in provided resources the type of error you may use. 

abc=[10,20,20]
print(abc[3])

In [ ]:
#17. Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 
# Hint: take a look on python input function. 
# Check in provided resources the type of error you may use.

In [ ]:
#18. Handle the exception thrown by the code below by using try and except blocks. 
# Check in provided resources the type of error you may use. 

f = open('testfile','r')
f.write('Test write this')

In [ ]:
#19. Handle the exceptions that can be thrown by the code below using try and except blocks. 
#Hint: the file could not exist and the data could not be convertable to int

fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

In [ ]:
#20. The following function can only run on a Linux system. 
# The assert in this function will throw an exception if you call it on an operating system other than Linux. 
# Handle this exception using try and except blocks. 
# You will probably need to import sys 

def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')

In [ ]:
# Bonus Questions:

# You will need to make some research on dictionary comprehension to solve the following questions

In [ ]:
#21.  Write a function that asks for an integer and prints the square of it. 
# Hint: we need to continually keep checking until we get an integer.
# Use a while loop with a try,except, else block to account for incorrect inputs.

In [ ]:
# 22. Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 
# Use results as the name of the list

In [ ]:
# 23. Define a customised exception to handle not accepted values. 
# You have the following user inputs and the Num_of_sections can not be less than 2.
# Hint: Create a class derived from the pre-defined Exception class in Python

Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))