## List comprehensions

In [1]:
#Insert here the module/library import statements

In [2]:
import math
import string
import random

In [3]:
#1.Calculate the square number of the first 20 numbers. Use square as the name of the list. 
#Remember to use list comprehensions and to print your results

In [4]:
numero = list(range(1,21))

In [5]:
square = [n**2 for n in numero]

In [6]:
square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [7]:

#2. Calculate the first 50 power of two. Use power_of_two as the name of the list.
# Remember to use list comprehensions and to print your results

In [8]:
numero = list(range(1,51))

In [9]:
power_of_two = [2**n for n in numero]

In [10]:
power_of_two

[2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288,
 1048576,
 2097152,
 4194304,
 8388608,
 16777216,
 33554432,
 67108864,
 134217728,
 268435456,
 536870912,
 1073741824,
 2147483648,
 4294967296,
 8589934592,
 17179869184,
 34359738368,
 68719476736,
 137438953472,
 274877906944,
 549755813888,
 1099511627776,
 2199023255552,
 4398046511104,
 8796093022208,
 17592186044416,
 35184372088832,
 70368744177664,
 140737488355328,
 281474976710656,
 562949953421312,
 1125899906842624]

In [11]:
#3. Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
# You will probably need to install math library with pip and import it in this file.  
# Remember to use list comprehensions and to print your results

In [12]:
numero = list(range(1,101))

In [13]:
sqrt = [math.sqrt(n) for n in numero]

In [14]:
sqrt

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]

In [15]:

#4. Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
# Remember to use list comprehensions and to print your results

In [16]:
numero = list(range(10,-1,-1))

In [17]:
my_list = [n*(-1) for n in numero]

In [18]:
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [19]:

#5. Find the odd numbers from 1-100. Use odds as the name of the list. 
# Remember to use list comprehensions and to print your results

In [20]:
numero = list(range(1,101))

In [21]:
odds = [n for n in numero if n%2!=0]

In [22]:
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [23]:
#6. Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
# Remember to use list comprehensions and to print your results

In [24]:
numero = list(range(1,1000))

In [25]:
divisible_by_seven = [n for n in numero if n%7==0]

In [26]:
divisible_by_seven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [27]:


#7. Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
# Remember to use list comprehensions and to print your results
# You can use the following test string but feel free to modify at your convenience

In [28]:
frase = input("dime algo ")

dime algo Buenos dias

In [29]:
frase = (list(frase))

In [30]:
vyc = "aeiouAEIOU ,'."

In [31]:
non_vowels =  [a for a in frase if a not in vyc]

In [80]:
non_vowels

['B', 'n', 's', 'd', 's']

In [33]:

#8. Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
# Use capital_letters as the name of the list.  
# Remember to use list comprehensions and to print your results

In [34]:
sentence = list("The Quick Brown Fox Jumped Over The Lazy Dog")

In [35]:
capital_letters = [a for a in sentence if a.isupper()]

In [36]:
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [37]:

#9. Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
# Use consonants as the name of the list.
# Remember to use list comprehensions and to print your results.

In [38]:
sentence = list("The Quick Brown Fox Jumped Over The Lazy Dog")

In [39]:
sentence = "A person's a person, no matter how small."
vyc = "aeiouAEIOU ,'."

In [40]:
consonants = [a for a in sentence if a in vyc]

In [41]:
consonants

['p',
 'r',
 's',
 'n',
 's',
 'p',
 'r',
 's',
 'n',
 'n',
 'm',
 't',
 't',
 'r',
 'h',
 'w',
 's',
 'm',
 'l',
 'l']

In [42]:
# 10. Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  
# You will probably need to import os library and some of its modules. You will need to make some online research.
# Remember to use list comprehensions and to print your results.

# PENDIENTE DE HACER

In [43]:

#11. Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
#You will probably need to import random module
# Remember to use list comprehensions and to print your results

# MEDIO SOLUCIONADO

In [44]:
unarandoml = []
for i in range(10):
    n = random.randint(0,100)
    unarandoml.append(n)

In [45]:
unarandoml

[11, 78, 88, 9, 91, 14, 94, 45, 6, 0]

In [46]:
random_lists = [unarandoml for i in range(4)]

In [47]:
random_lists

[[11, 78, 88, 9, 91, 14, 94, 45, 6, 0],
 [11, 78, 88, 9, 91, 14, 94, 45, 6, 0],
 [11, 78, 88, 9, 91, 14, 94, 45, 6, 0],
 [11, 78, 88, 9, 91, 14, 94, 45, 6, 0]]

In [48]:
#12. Flatten the following list of lists. Use flatten_list as the name of the output.
# Remember to use list comprehensions and to print your results

In [49]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [50]:
flatten_list = [i for listo in list_of_lists for i in listo]

In [51]:
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:

#13. Convert the numbers of the following nested list to floats. Use floats as the name of the list. 
# Remember to use list comprehensions and to print your results.

In [53]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [54]:
floats = [float(i) for listo in list_of_lists for i in listo]

In [55]:
floats

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

# Error Handling

In [56]:
#14. Handle the exception thrown by the code below by using try and except blocks.

In [57]:
for i in ['a','b','c']:
    try: 
        print(i**2)
    except: 
        print("comprueba tu tipo de datos")

comprueba tu tipo de datos
comprueba tu tipo de datos
comprueba tu tipo de datos

In [58]:
#15. Handle the exception thrown by the code below by using try and except blocks. 
#Then use a finally block to print 'All Done.'
# Check in provided resources the type of error you may use.

In [59]:
x = 5
y = 0

In [60]:
def divide(a,b):
    try:
        x/y
    except: 
        print("La y no será cero verdad")

In [61]:
divide(x,y)

La y no será cero verdad

In [62]:
#16. Handle the exception thrown by the code below by using try and except blocks. 
# Check in provided resources the type of error you may use.

In [63]:
abc=[10,20,20]
def imprime(x):
    try:
        print(abc[3])
    except: 
        print("comprueba tu tipo de datos")

In [64]:
imprime(abc)

comprueba tu tipo de datos

In [65]:

#17. Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 
# Hint: take a look on python input function. 
# Check in provided resources the type of error you may use.

In [66]:
# Solucionar después

In [67]:
n1 = input("dime un numero ")

dime un numero 1

In [68]:
n1 = int(n1)

In [69]:
n2 = input("dime un numero ")

dime un numero 2

In [70]:
n2 = int(n2)

In [71]:
def divide(n1,n2):
    try:
        n1/n2
    except: 
        print("La y no será cero verdad")

In [72]:
divide_usuario(n1,n2)

NameError: name 'divide_usuario' is not defined

In [ ]:
#18. Handle the exception thrown by the code below by using try and except blocks. 
# Check in provided resources the type of error you may use.

In [74]:
try:
    open('testfile','r')
except Exception as err:
    print(f"File not found on your computer: {err}")

File not found on your computer: [Errno 2] No such file or directory: 'testfile'

In [ ]:
#19. Handle the exceptions that can be thrown by the code below using try and except blocks. 
#Hint: the file could not exist and the data could not be convertable to int

In [73]:
#1 
fp = open('myfile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [75]:
#1
try:
    open(myfile.txt)
except Exception as err:
    print(f"File not found on your computer: {err}")

File not found on your computer: name 'myfile' is not defined

In [76]:
#2
line = fp.readline()

NameError: name 'fp' is not defined

In [77]:
#2
try:
    print(line)
except Exception as err:
    print(f" {err} no se ha podido imprimir, mira la sintaxis interna")

 name 'line' is not defined no se ha podido imprimir, mira la sintaxis interna

In [ ]:
#3 ¡! He puesto un _2 para que no coja el in anterior
i_2 = int(s.strip())

In [78]:
#3
try:
    print(i_2)
except Exception as err:
    print(f" {err} no se ha podido imprimir, mira la sintaxis interna")

 name 'i_2' is not defined no se ha podido imprimir, mira la sintaxis interna

In [ ]:
#20. The following function can only run on a Linux system. 
# The assert in this function will throw an exception if you call it on an operating system other than Linux. 
# Handle this exception using try and except blocks. 
# You will probably need to import sys

In [79]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')